<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 配置扫描注解 -->
    <!-- 
		applicationContext-service.xml
		1.扫描service层底下所有的注解
		2.方便后期业务扩展
	 -->
    <context:component-scan base-package="com.briup.ssm.service"></context:component-scan>
</beans>